body {
    font-family: 'Kanit', sans-serif;
    background-image: url(https://raw.githubusercontent.com/ApichitPek/Miku_MEGA-MIX-/refs/heads/main/Pictures/thumb-1920-1214219.jpg);
    background-size: cover;
    color: white;
}
.navbar {
    background-color: rgb(31, 204, 204, 0.8); 
}
