body {
    font-family: 'Kanit', sans-serif;
    background-color: #ffffff;
    color: white;
}
.navbar {
    background-color: rgba(31, 204, 204, 0.8);
}
.hero {
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.overlay {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}
.carousel-container {
    width: 85%;
    overflow: hidden; /* ซ่อนส่วนเกิน */
}

.carousel-item img {
    max-height: 400px; /* จำกัดความสูงของรูปภาพ */
    object-fit: cover; /* ปรับขนาดรูปภาพให้พอดี */
}
.media {
        background: repeating-linear-gradient(
        135deg,
        rgb(228, 255, 255), /* สีของเส้น */
        rgb(228, 255, 255, 1) 25px, /* ขอบเขตของเส้น */
        rgb(255, 255, 255, 1) 25px, /* สีของช่องว่าง */
        rgb(255, 255, 255, 1) 55px /* ขอบเขตของช่องว่าง */
    );
    padding: 20px 0px 20px 0px;
}
.diva {
    background-color: rgb(36, 36, 54);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* จัดตำแหน่งเนื้อหากลางแนวตั้ง */
    text-align: left; /* ทำให้ข้อความชิดซ้าย */
    padding: 20px 20px 20px 20px; /* เพิ่มช่องว่างด้านซ้ายถ้าต้องการ */
}
