body {
    font-family: 'Kanit', sans-serif;
    background: repeating-linear-gradient(
        135deg,
        rgb(228, 255, 255), /* สีของเส้น */
        rgb(228, 255, 255, 1) 25px, /* ขอบเขตของเส้น */
        rgb(255, 255, 255, 1) 25px, /* สีของช่องว่าง */
        rgb(255, 255, 255, 1) 55px /* ขอบเขตของช่องว่าง */
    );
    
    background-size: cover;
    color: white;
}
.navbar {
    background-color: rgb(31, 204, 204, 0.8); 
}
